.title {
    color: #ec00ff;
    text-align: center;
}

.location {
    color: #ec00ff;
    font-weight:bold;
    font-size:20px;
}

.date {
    color: white;
}

.event{
    border:2px solid blueviolet;
    display: block;
    padding:8px 12px;
    margin-bottom:5px;
}

