.mediaPartners{
    display: flex;
    justify-content: space-around;
}

.title{
    margin:1rem;
    padding:2rem;
}

.img{
    padding:.5rem;
    max-width:100%;
    display: block;
    height:auto;
    margin: 0 auto;
}

@media  (max-width:767px) {
    .mediaPartners{
        display: block;
    }
}