/* RESET & TYPOGRAPHY */
*,
*:after,
*:before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  color: #e0dcf8;
  background-color: #353342;
  font-family: "Ubuntu Mono", Helvetica, Arial, monospace;
  font-size: 18px;
  line-height: 1.4;
}
@media screen and (min-width: 600px) {
  body {font-size: 20px;}
}
@media screen and (min-width: 1200px) {
  body {font-size: 22px;}
  .container-wide {
    font-size: 17px;
  }
}
@media screen and (min-width: 1800px) {
  body {font-size: 24px;}
  .container-wide {
    font-size: 17px;
  }
}
input {
  font-family: "Ubuntu Mono", Helvetica, Arial, monospace;
  font-size: 1em;
}
a {
  color: #e8e88f;
  font-weight: bold;
}

/* HEADER */
.header {
  padding: 4em 0 0.2em;
  text-align: center;
  background-image: url(../img/header.svg);
  background-size: 200vw;
  background-position: center top;
  background-repeat: no-repeat;
}
.banner {
  margin: 20px auto 10px;
  border-radius: 8px;
  padding: 20px 20px 0;
  border: 2px solid #FFF143;
}
.banner__title {
  color: #555;
  margin: 0;
}
.banner__text {
  color: #504a5a;
  padding: 0;
  margin-bottom: 20px;
}
.banner__text ul {
  padding-left: 0;
  list-style-type:none;
}

.banner__text li a {
  color: #FFF143;
}
@media screen and (min-width: 340px) {
  .header {
    padding-top: 5em;
  }
}
@media screen and (min-width: 400px) {
  .header {
    background-size: 150vw;
    padding-top: 6em;
  }
}
@media screen and (min-width: 550px) {
  .header {
    background-size: 120vw;
  }
}
@media screen and (min-width: 700px) {
  .header {
    background-size: 100vw;
  }
}
@media screen and (min-width: 950px) {
  .header {
    background-size: 45em;
  }
}
.logo {
  font-size: 2.2em;
  margin-bottom: 0;
  color: #e8e88f;
}
.logotipo {
  color: #e8e88f;
}
.coming-soon {
  margin-top: 0;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.27em;
  color: #978ebd;
}
.nav {
  padding-left: 0;
}
.nav li {
  display: inline-block;
  list-style-type: none;
}
/* CONTENT */
.container {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 350px) {
  .container {
    width: 80%;
  }
}
@media screen and (min-width: 600px) {
  .container {
    width: 70%;
  }
}
@media screen and (min-width: 800px) {
  .container {
    width: 60%;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 24em;
  }
  .container-wide {
    width: 44em;
  }
}
.organizer-logo {
  width: 3.5em;
  margin-left: 0.5em;
}
.organizer-logo-left {
  margin-left: calc(50% - 4em);
  margin-right: 0.5em;
}

/* FOOTER */
.footer {
  margin: 3em 0;
  text-align: center;
}

/* MAILCHIMP FORM */
.newsletter {
  margin-bottom: 3em;
}
.email,
.button,
#mc-embedded-subscribe {
  width: 100%;
  margin: 0.5em 0;
  padding: 0.8em;
  border: 0;
  color: #353342;
  border-radius: 0.3em;
}
.email {
  margin-top: 1em;
  background-color: #e0dcf8;
}
.button, #mc-embedded-subscribe {
  background-color: #e8e88f;
  font-weight: bold;
}
@media screen and (min-width: 480px) {
  .email {
    display: inline-block;
    width: 70%;
    margin-right: 0;
  }
  .button, #mc-embedded-subscribe {
    display: inline-block;
    width: 25%;
    margin-left: 0;
  }
}
#mce-success-response {
  color: #e8e88f;
}

.eventbrite-section {
  margin-top: 50px;
  /* temporary hack */
  margin-bottom: -50px;
}
